body {
	width: 100vw;
	height: 100vh;
	background-color: rgb(25,25,25);
	float:left;
	display:inline-block;
	div.container {
		text-align: center;
		width: 90vw;
		div.box {
			text-align: center;
			font-family: 'Gravity';
			font-size: 0.9em;
			div {
				text-align: center;
			}
			p {
				color: white;
				margin-bottom: 6px;
			}
			input {
				margin: 6px;
				width:20vw;
				backdrop-filter: blur(5px);
			}
			input#username {
				float:left;
			}
			input#password {
				float: left;
				clear: both;
			}
			a.login {
				display: inline-block;
				color: rgb(150,160,160);
				backdrop-filter: blur(5px);
			}
		}	
	}
	div#backgroundicon {
		opacity: 0.15;
		@media (min-aspect-ratio: 1/1) {
            width:80vh;
        }
        @media (max-aspect-ratio: 1/1) {
            width:80vw;
        }
		@include user-select(none);
		@include user-drag(none);
        svg {
            transition: stroke 800ms;
        }
	}
	div.footer {
		color: rgb(120,120,120);
		font-family: 'Gravity';
		font-size: 0.8em;
		padding: 10px;
		bottom:0px;
		width: 100vw;
		position: absolute;
		text-align: center;
	}
}
body#login::-webkit-scrollbar { 
    display: none;
}