body {
//	width: 100vw;
//	height: 100vh;
    // Angle, initial colour, bright-width, diffuse, dark-width
    background: repeating-linear-gradient(-55deg,$dark-lines,$dark-lines 5px,$light-lines 0px,$light-lines 10px);
//	float:left;
	display:block;
    -webkit-backface-visibility: hidden;
	div.container {
		text-align: center;
		width: 90vw;
		div.box {
			text-align: center;
			font-family: 'Gravity';
			font-size: 0.9em;
			transition: opacity 1.5s ease-out;
			div {
				text-align: center;
			}
			p {
				color: white;
				margin-bottom: 6px;
			}
			input {
				margin: 6px;
				width:20vw;
				backdrop-filter: blur(5px);
			}
			input#username {
				float:left;
			}
			input#password {
				float: left;
				clear: both;
			}
			a.login {
				display: inline-block;
				color: rgb(150,160,160);
				backdrop-filter: blur(5px);
			}
		}	
	}
	div#content {
		padding: 5vw;
		text-align: center;
		display: block;
		div.main {
			div.article {
				// These are overwritten on load.
				display: none;
				opacity: 0;
				position: relative;
				top: 80px;
				transition: opacity 1s ease-out, top 1s ease-out;
				font-family: "Gravity";
				color: white;
                backdrop-filter: blur(3px);
				max-width: 620px;
				clear: both;
				float: right;
				background-color: rgba(255,255,255,0.075);
//				padding:10px;
				border-radius: 15px;
				margin-bottom: 40px;
				border: rgba(255,255,255,0.75) solid 2px;
				text-align: left;
				.head {
					height: 50px;
					width:100%;
					padding: 7px 15px 7px 15px;
					display: inline-block;
					box-sizing: border-box;
					div.user {
						height: 100%;
					}
					img {
						height: 100%;
						margin-right: 10px;
					}
					p {
						float: right;
						vertical-align: middle;
						line-height: 100%;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				img.post {
					width: 100%;
				}
				div.conversation {
					padding: 10px;
					padding-top: 5px;
					padding-left: 15px;
				}
			}
		}
	}
	div#backgroundicon {
		opacity: 0.15;
		@media (min-aspect-ratio: 1/1) {
            width:80vh;
        }
        @media (max-aspect-ratio: 1/1) {
            width:80vw;
        }
		@include user-select(none);
		@include user-drag(none);
        svg {
            transition: stroke 800ms;
        }
	}
	div#footer {
		font-family: 'Gravity';
		font-size: 0.8em;
		padding: 10px;
		bottom:0px;
	}
}

body#login {
	display: inline-block;
	div#footer {
		color: rgb(120,120,120);
		position: absolute;
		text-align: center;
		width: 100vw;
		box-sizing: border-box;
	}
}

body#timeline {
	overflow-y: scroll;
	div#footer {
		height: 100px;
		bottom: 0px;
		position: relative;
//		background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
		color: white;
		display: block;
		.loading {
			opacity: 0;
			transition: opacity 1.5s ease-in-out 2s;
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
		}
	}
}

body#login::-webkit-scrollbar { 
    display: none;
}