div#header {
    width: 100vw;
    height: 48px;
    background-color: rgba(255,255,255,0.3);
    position: relative;
    transition: top 1.5s ease-out;
    svg, img {
        height: 100%;
        fill: white;
    }
    .account img {
        clip-path: circle(95%);
        border-radius: 40%
    }
    div {
        > a {
            display: inline-block;
            height: inherit;
            padding: 10px;
            box-sizing: border-box;
        }
        > input {
            height: inherit;
            box-sizing: border-box;
            border-radius: 20px 20px 5px 5px;
            background-color: $dark-lines;
            border-color: $light-lines;
            border-width: 4px;
			color: white;
			font-size: 0.95em;
        }
        > a.notifications {
            padding: 12px;
            float:left;
            svg {
                stroke: black;
                stroke-width: 5px;
            }
        }
        height:100%;
    }
    .left {
        float: none;
        display: inline-block;
        height: inherit;
    }
    .middle {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
		svg {
			position: absolute;
			display: inline-block;
			display: none;
		}
    }
    .right {
        float: right;
        height: inherit;
    }
}