$main-theme: rgba(95,158,160,1);
$add-colour: rgb(0,0,255);
$delete-colour: rgb(255,0,0);
$edit-colour: rgb(255,255,0);
$submit-colour: rgb(0,255,0);
$done-colour: rgb(0,255,220);

@mixin filter($filters) {
    -webkit-filter: $filters;
    filter: $filters;
}
@mixin user-select($state) {
    -webkit-touch-callout: $state; /* iOS Safari */
    -webkit-user-select: $state; /* Safari */
    -khtml-user-select: $state; /* Konqueror HTML */
    -moz-user-select: $state; /* Firefox */
    -ms-user-select: $state; /* Internet Explorer/Edge */
    user-select: $state; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@import 'reset';
@import 'header';
@import 'body';
@import 'nav';

@font-face {
font-family: Code;
src: url("../assets/fonts/Code-light.otf") format("opentype");
}
@font-face {
font-family: Code;
font-weight: bold;
src: url("../assets/fonts/Code-bold.otf") format("opentype");
}
@font-face {
font-family: Stellar;
src: url("../assets/fonts/Stellar-light.otf") format("opentype");
}
@font-face {
font-family: Gravity;
src: url("../assets/fonts/Gravity-book.otf") format("opentype");
}
@font-face {
font-family: Lighthouse;
src: url("../assets/fonts/Lighthouse.ttf") format("truetype");
}
@font-face {
font-family: Futura;
src: url("../assets/fonts/Futura-oblique.ttf") format("truetype");
}
@font-face {
font-family: Futura;
font-weight:bold;
src: url("../assets/fonts/Futura-koyu.ttf") format("truetype");
}
@font-face {
font-family: FontAwesome;
src: url("../assets/fonts/FontAwesome-Webfont.ttf") format("truetype");
}
@font-face {
font-family: FrontPageSupplement;
src: url("../assets/fonts/Front-Page-Supplement.otf") format("opentype");
}

body {
    
}

a {
    cursor: pointer;
}

.centered {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.snapScroll {
    -webkit-scroll-snap-points-y: repeat(100vh);
    -ms-scroll-snap-points-y: repeat(100vh);
    scroll-snap-points-y: repeat(100vh);
    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-destination: 100% 0%;
    -ms-scroll-snap-destination: 100% 0%;
    scroll-snap-destination: 100% 0%;
}

.button {
    font-family:Gravity;
    color: inherit;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.buttonA {
    @extend .button;
    background: none;
    border:1px solid;
    border-radius: 100vh;
    transition: all 220ms ease-in-out;
    margin: 15px;
    padding: 5px 10px 5px 10px;
}
.buttonA:hover {
    background-color:rgba(0,0,0,0.8);
    color: white !important;
    border-color: transparent !important;
}

.inputA {
    padding:10px;
    background: none;
    border:1px solid;
    border-radius: 100vh;
    transition: all 220ms ease-in-out;
    margin: 0px 12px 0px 12px;
    padding: 5px 10px 5px 10px;
    color: rgb(100,100,100);
    border-color: rgb(100,100,100);
    border-width: 1px;
    background: none;
    text-align: center;
}
.inputA:hover {
    border-color: white;
}
.inputA:focus {
    outline-width: 0;
    background-color: white;
    color:black;
    border-color:black;
}
.inputA:focus::-webkit-input-placeholder {
    color: rgb(10,10,10);
}

.popup {
    display:none;
    color: white;
    position: fixed;
    @extend .centered;
    z-index: 15;
    background-color: rgba(10,10,10,10.95);
    padding: 35px;
    box-shadow: 4px 4px 0px rgba(white, $shadow-darkness);
    text-align: center;
    font-family: Futura;
}

.revisionDisplay {
    @include user-select(none);
    img {
        border-radius: 100%;
    }
    > a.edit {
        display:none;
        color:rgb(150,80,250);
        margin-top: 20px;
    }
	.list {
		display:block;
	}
    .assessmentsScreen {
		@extend .popup;
        table {
            border-collapse: collapse;
            font-family: Stellar;
            margin-left:auto; 
            margin-right:auto;
            tr {
                color: white;
            }
            tr.active-false {
                color: rgb(150,150,150);
            }
            tr.heading {
                border-bottom: 1px solid white;
            }
            th {
                font-size:1.2em;
                padding:5px;
            }
            td {
                i {
                    font-size:0.7em;
                    font-style: normal;
                }
                padding:12px;
                border: none;
                text-align: center;
            }
            input, select {
                display: none;
                font-family:Gravity;
                font-style: normal;
                text-decoration: none;
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none; 
                -khtml-user-select: none;
                -moz-user-select: none; 
                -ms-user-select: none; 
                user-select: none;
                background: none;
                border:1px solid;
                border-radius: 100vh;
                transition: all 150ms ease-in-out;
                margin: 15px;
                padding: 5px 10px 5px 10px;
                color: white;
                outline-width: 0;
                option {
                    background-color: rgb(5,5,5);
                }
            }
            input:hover, select:hover {
                color: rgb(200,255,225);
            }
            input:focus, select:focus {
                border-radius: 0px;
                color: rgb(200,255,225);
            }
            a {
                font-family: FontAwesome;
                font-size:210%;
                transition: color 150ms linear;
                font-weight: 100;
//                float:left;
                margin:5px;
            }
            a.edit {
                color: lighten(desaturate($edit-colour, 50%),25%);
            }
            a.edit:hover {
                color: lighten(desaturate($edit-colour, 5%),15%);
            }
            a.edit:active {
                color: $edit-colour;
            }
            a.delete {
                display: none;
                color: lighten(desaturate($delete-colour, 50%),25%);
            }
            a.delete:hover {
                color: lighten(desaturate($delete-colour, 5%),15%);
            }
            a.delete:active {
                color: $delete-colour;
            }
            a.submit {
                display:none;
                color: lighten(desaturate($submit-colour, 50%),25%);
            }
            a.submit:hover {
                color: lighten(desaturate($submit-colour, 5%),15%);
            }
            a.submit:active {
                color: $submit-colour;
            }
            a.add {
                color: lighten(desaturate($add-colour, 50%),25%);
            }
            a.add:hover {
                color: lighten(desaturate($add-colour, 5%),15%);
            }
            a.add:active {
                color: rgb(80,255,80);
            }
            a.done {
                color: lighten(desaturate($done-colour, 50%),25%);
            }
            a.done:hover {
                color: lighten(desaturate($done-colour, 5%),15%);
            }
            a.done:active {
                color: rgb(255,50,255);
            }
        }
    }
}

.circleOpacityPulse {
    animation: pulseOpacity 50ms 1 forwards;
}

@keyframes pulseOpacity {
    from {opacity: 0;}
    50% {opacity: 1;}
    to {opacity: 0;}
}

@keyframes rainbowColor {
    from {color: red;}
    14% {color: orange;}
    29% {color: yellow;}
    43% {color: green;}
    57% {color: blue;}
    71% {color: indigo;}
    85% {color: violet;}
    to {color: red;}
}

@keyframes pulseSize {
    from {transform:scale(1);}
    50% {transform:scale(1.05);}
    to {transform:scale(1);}

}

@keyframes loadingSpin {
    from {transform: rotate(0deg);}
    9.9% {transform: rotate(30deg);}
    18.2% {transform: rotate(60deg);}
    27.3% {transform: rotate(90deg);}
    36.4% {transform: rotate(120deg);}
    45.5% {transform: rotate(150deg);}
    54.5% {transform: rotate(180deg);}
    63.6% {transform: rotate(210deg);}
    72.7% {transform: rotate(240deg);}
    81.8% {transform: rotate(270deg);}
    90.9% {transform: rotate(300deg);}
    to {transform: rotate(330deg);}
}
