//- postID, postUUID, userID, fullName, postTime, description
each val in input
    div.article(postUUID=val.postUUID)
        a.head.account
            div.user
                img(src='assets/avatar.jpg')
                p= val.fullName
        img.post(src=`images/${val.postUUID}.jpg`)
        div.conversation
            p= val.description
//-     div.footer
//-         p= postTime