//- postID, userID, username, postTime, description
div.article(postID=postID)
	a.head.account
		div.user
			img(src='assets/avatar.jpg')
			p= username
	img.post(src=`images/${postID}.jpg`)
	div.conversation
		p= description
//    div.footer
//        p= postTime