doctype html
html(lang='en')
	head
		include head
	body#timeline
		div#backgroundicon.centered
		div#nav
			include nav
		div#content
			div.main
		div#footer
			div.info
			div.loading.lds-ripple
				div
				div