div.left
    a.login(onclick='')
        include ../static/assets/vitae-title.svg
div.middle
    input#search.inputA(name='search', spellcheck='true', autocomplete='on', maxlength='256', placeholder='search', type='text')
    include ../static/assets/search.svg
div.right
    a.imageButton.notifications(onclick='')
        include ../static/assets/notification.svg
    a.imageButton.account(onclick='')
        img(src='/assets/avatar.jpg')