doctype html
html(lang='en')
	head
		include head
		link(href="/path/to/cropper.css" rel="stylesheet")
		script(src="/path/to/cropper.js", type='text/javascript')
	body#timeline
		div#backgroundicon.centered
		div#nav
			include nav
		div#content
			div.main
				
		div#footer
			