//- userData(userID, username, fullName, accountType, yearLevel, schoolTitle), randVer
- var vlogos = 3;
doctype html
html(lang='en')
	head
		include head
		script(src=`/scripts/user.js?v=${randVer}`, type='text/javascript')
	body#user
		div#backgroundicon.centered
		div#nav
			include nav
		div#content
			div.entry
				div#title.centered
					- while(vlogos--) {
						include ../static/assets/v-logo.svg
					- }
				div#cascade
			div.landing
				p What am I all about? What are we doing here?
		div#footer