// username, fullName, accountType, yearLevel, schools.title, randVer
doctype html
html(lang='en')
	head
		include head
	body#user
		div#backgroundicon.centered
		div#nav
			include nav
		div#content
			div.entry
				p Who is #{fullName}?
		div#footer